<%@ Master Language="C#" MasterPageFile="~/index.Master" AutoEventWireup="true" CodeBehind="proyecto.master.cs" Inherits="FLP.proyecto" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <script type="text/javascript" src="js/jquery.colorPicker.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentIndex" runat="server">
    <div class="container">
        <div class="col-md-3">
            <div class="panel-group shadow" id="accordion">
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-chevron-down"></span> Crear Nuevo Proyecto
                        </div>
                    </a>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <div class="list-group">
                            <a href="criterios.aspx" class="list-group-item"><span class="badge" rel="txtTooltip" data-toggle="tooltip" data-placement="left" title="Criterios Definidos">3</span> 1. Definir Criterios</a>
                            <a href="variables.aspx" class="list-group-item"><span class="badge" rel="txtTooltip" data-toggle="tooltip" data-placement="left" title="Variables Definidas">0</span> 2. Variables Linguísticas</a>
                            <a href="alternativas.aspx" class="list-group-item"><span class="badge" rel="txtTooltip" data-toggle="tooltip" data-placement="left" title="Alternativas Definidas">0</span> 3. Definir Alternativas</a>
                            <a href="informe.aspx" class="list-group-item">4. Generar Informe</a>
                            <a href="#" class="list-group-item disabled">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                        <span class="sr-only">25% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <!-- ContentPage -->
            <asp:ContentPlaceHolder ID="ContentProyecto" runat="server">
            </asp:ContentPlaceHolder>
            <!-- ContentPage -->
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            $('#ContentIndex_ContentProyecto_txtColor').colorPicker();
            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
            function EndRequestHandler(sender, args) {
                $('#ContentIndex_ContentProyecto_txtColor').colorPicker();
            }
        });
    </script>
</asp:Content>
